/* Photo album styles */
body {
  text-align: center;
  width: auto;
  margin: 0 2em;
}

div.gallery {
  margin-top: 2em;
}

p {
  width: 40em;
  margin: 0 auto 0.6em;
}

blockquote {
  width: 40em;
  margin: 0 auto 0.6em;
  font-style: italic;
  text-align: left;
  padding-left: 5em;
}	

div.photo { /* Wrap the photo AND caption */
  float: left;
  margin: 10px 15px;
  text-align: center; /* IE 5 doesn't do auto margins */
  width: 190px; 
  height: 180px;
  }

div.photo img {
  margin: 0 auto;
}

div.photo p {
  clear: both;
  margin: 10px 0 0;
  text-align: center;
  width: auto;
  }

div.photo a img {
  border: 1px solid #996;
}

div.photo a:hover img {
  border: 1px solid #390;
}

div.photo a { 
  border: none;
}

/* Set of images with one overall description */
.imageset p {
    margin: 10px auto;
  text-align: center;
  width: 66%;
}

.imageset img {
  margin: 0 auto;
  display: inline;
}

.imageset a img { 
  border: 1px solid #960;
}

.imageset a:hover img {
  border: 1px solid #fff;
}

.imageset {
  text-align: center;
  margin-bottom: 2em;
}

.imageset h2 {
  text-align: center;
  margin-bottom: 0.7em;
}

#footer, #footer p {
  width: auto;
}
