/*
   Author: Ben Sturmfels, design@stumbles.id.au
   Description: CSS styles for fully supporting browsers 
*/

/*** Navigation ***/
/* Main menu */
#nav ul
{
  	list-style: none;
  	margin: 0;
	padding: 0;
}

ul.menu li
{

	height: 1em;
  	position: relative;
	font-style: italic;
	text-align: right;
	font-size: 1.2em;
	vertical-align: bottom; /* Removes mystery spaces */
	voice-family: "\"}\""; 
  	voice-family: inherit;
	height: 100%; /* Removes mystery spaces */
	border-top: 0;
}

ul.menu li + li {
	border-top: 1px solid #a63;
}

html>body ul.menu li {
  	height: 100%;
} 

ul.menu li a {
	display: block;
	padding: 5px 10px;	
	background: #941;
    font-weight: bold;
    text-decoration: none;
}

ul.menu li a:hover {
	background: #dcb;
	text-decoration: none;
}

/* Sub menu */
#nav li ul
{
  	visibility: hidden;
  	position: absolute;
  	left: 102%; /* extra gap as IE doesn't line up exactly */
  	top: 0;
  	z-index: 10;
	background: #36f;
	width: 20em;
}

ul.menu li li {
	font-size: 0.75em;
	text-align: left;
}

ul.menu li li a {
	font-weight: normal;
	background: #cc9;
	color: white;
	padding: 3px 7px;
}

ul.menu a:link { color: #c85; }
ul.menu a:visited { color: #c85; }

/*------------------------------
  Inline images
------------------------------*/
.figleft p, .figright p {
  margin: 0 1px 0.4em 0;
  text-align: center;
}

.figleft img, .figright img {
  border: 1px solid #853;
  display: inline; /* for Gecko and other nice browsers */
  margin-bottom: 0.3em;
}

.figleft a, .figleft a:hover, .figright a, .figright a:hover {
  border: #853;
}

.figleft a:hover img, .figright a:hover img {
  border: 1px solid #b86;
}

.figleft {
  float: left;
  margin: 0 1.5em 0 0;
}

.figright {
  float: right;
  margin: 0 0 0 1.5em;
}

.figleft a, .figright a {
	font-weight: normal;
    text-decoration: none;
}
