/*
   Author: Ben Sturmfels, design@stumbles.id.au
   Description: Basic CSS styles 
*/

body {
	color: black;
	background: #941;
	font-size: 80%;
	font-family: Georgia, "New Century Schoolbook", Times, serif;
	margin: 0 1.5em;
	padding: 0;
	text-align: center; /* IE 5 */
}

/*** Layout Blocks ***/
#wrapper {
	width: 60em;
	margin: 0 auto;
	background: #fff;
	text-align: left; /* Undo for IE 5 centring */
}

#nav {
	padding: 2em 0 0;
	margin: 0;
	float: left;
	width: 12em;
	voice-family: "\"}\""; 
  	voice-family: inherit;
	width: 12em;
}

html>body #nav {
  	width: 12em;
} 

#content {
	padding: 1.5em 2em 2em;
	background: #fff;
	color: #441;
	margin-left: 13em;
}

#header {
	width: 60em;
	margin: 0 auto;
	background: #963;
}

#header #title {
	text-align: right;
	color: white;
	font-size: 1.5em;
	padding: 0.7em 0.7em 0 0;
}

#header #title a { color: white; }

#header #byline {
	text-align: right;
	font-style: italic;
	font-size: 1.3em;
	padding: 0 0.7em 0.7em 0;
	color: #b85   ;
}

#footer {
	width: 60em;
	margin: 0 auto;
	background: #963;
	clear: left;
}

#footer p {
	text-align: right;
	margin: 0; 
	padding: 0.5em 0.7em;
}

#footer a {
	color: #552;
}

/*** Regulars ***/
p {
	margin: 0 0 1em 0;
	text-align: left; /* centring bug IE6 */
	line-height: 1.5;
}

h1, h2, h3, h4 {

}

h1 {
	font-style: italic;
	font-size: 2.5em;
	margin: 0 0 0.3em;
}

h2 {
	font-size: 1.8em;
	margin: 0 0 0.5em 0;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.1em;
	font-variant: small-caps;
}

ul {}
ol {}
li {}

dl {}
dt 	{}
dd	{}

/*** Links ***/
a {
	text-decoration: underline;
}

a:link {
	color: #853;
}
a:visited {
	color: #853;
}
a:hover { 
	text-decoration: underline;
}
a:active { 
	color: #390;
}

#header a, #footer a { 
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*** Images ***/
img {
	display: block; /* Inline imgs share text baseline */
	border: 0;
}

/*** Non-CSS browsers ***/
.hide {
	display: none;
}

/*** Various other ***/
.author {
	font-style: italic;
}

q {
	font-style: italic;
	font-size: 1.2em;
}